.eventCard {
  display: flex;
  justify-content: space-between;
  height: 3vh;
  margin-bottom: 2vh;
}

.nav {
  border-radius: 0;
  padding: 0;
  border: 2px solid black;
  box-shadow: 5px 5px 5px black;
}

.p-menuitem-link {
  height: 25px;
  border-radius: 0;
}

.p-menuitem-link:hover {
  background-color: rgb(203, 220, 241) !important;
}


.button {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 0;
  height: 100%;
  box-shadow: 5px 5px 5px black;
  margin-left: 8px;
}

.button:hover {
  background-color: rgb(184, 200, 219);

}

.input {
  border: 2px solid black;
  border-radius: 0;
  height: 100%;
  box-shadow: 4px 4px 4px black;

}

.input:focus {
  background-color: rgb(203, 220, 241);
}