.eventCard {
  display: flex;
  justify-content: space-between;
  height: 3vh;
  margin-bottom: 2vh;
}

.nav {
  border-radius: 0;
  border: 2px solid black;
  box-shadow: 5px 5px 5px black;
}

.p-menuitem-link {
  height: 25px;
  border-radius: 0;
}

.p-menuitem-link:hover {
  background-color: rgb(173, 192, 215) !important;
  border: 3px solid black;
}


.button {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 0;
  height: 100%;
  box-shadow: 5px 5px 5px black;
  margin-left: 8px;
}

.button:hover {
  background-color: rgb(184, 200, 219);

}

.input {
  border: 2px solid black;
  border-radius: 0;
  height: 100%;
  box-shadow: 4px 4px 4px black;
  width: 15vw;
}

.input:focus {
  background-color: rgb(203, 220, 241);
}


@media (max-width:965px) {

  .p-menuitem {
    font-size: 12px;
    width: 15vw;
    height: 20px;
    background-color: rgb(244, 246, 249);
  }

  .p-menuitem-link {
    padding: 0;
  }

  .nav {
    border: 0px solid black;
    box-shadow: none;
  }

}

@media (max-width:500px) {

  .p-menuitem-link {
    font-size: 10px;
  }

  .paginator {
    font-size: 8px;
  }
}