.App {
  text-align: center;
  margin: 0 auto;
  width: 1140px;
  background-color: white(237, 237, 237);
  border-left: 1px solid rgb(219, 219, 219);
  border-right: 1px solid rgb(219, 219, 219);
  border-bottom: 1px solid rgb(219, 219, 219);
  padding: 0 2%;
}